<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <description>the backround image that will be used at back of almost all</description>
        <param-name>background_image</param-name>
        <param-value>./graphics/main_bk_5.jpg</param-value>
    </context-param>
    <context-param>
        <param-name>startup_page</param-name>
        <param-value>./jM1_startup.jsp</param-value>
    </context-param>
    <filter>
        <description>redirects to home pageif the user is not signed in as DA</description>
        <filter-name>da_logged_in</filter-name>
        <filter-class>a_general_package.s2_da_req_approve</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>da_logged_in</filter-name>
        <servlet-name>s2_da_req_approve</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>s1_user_check</servlet-name>
        <servlet-class>a_general_package.s1_user_check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s1_verify_new_acc</servlet-name>
        <servlet-class>a_general_package.s1_verify_new_acc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s1_login_check</servlet-name>
        <servlet-class>a_general_package.s1_login_check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s1_next_signup</servlet-name>
        <servlet-class>a_general_package.s1_next_signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s1_s_signup</servlet-name>
        <servlet-class>a_general_package.s1_s_signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s2_da_req_approve</servlet-name>
        <servlet-class>a_general_package.s2_da_req_approve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s2_log_out</servlet-name>
        <servlet-class>a_general_package.s2_log_out</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s2_da_req_suspended</servlet-name>
        <servlet-class>a_general_package.s2_da_req_suspended</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s2_da_req_restore</servlet-name>
        <servlet-class>a_general_package.s2_da_req_restore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s2_da_notice_add</servlet-name>
        <servlet-class>a_general_package.s2_da_notice_add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s2_da_grandNewFaculty</servlet-name>
        <servlet-class>a_general_package.s2_da_grantNewFaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s2_f_signup</servlet-name>
        <servlet-class>a_general_package.s2_f_signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s2_f_notice_add</servlet-name>
        <servlet-class>a_general_package.s2_f_notice_add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s2_da_req_delete</servlet-name>
        <servlet-class>a_general_package.s2_da_req_delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s2_da_notice_delete</servlet-name>
        <servlet-class>a_general_package.s2_da_notice_delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s2_da_canvas_add</servlet-name>
        <servlet-class>a_general_package.s2_da_canvas_add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>a_general_package.upload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>s1_user_check</servlet-name>
        <url-pattern>/s1_user_check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s1_verify_new_acc</servlet-name>
        <url-pattern>/s1_verify_new_acc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s1_login_check</servlet-name>
        <url-pattern>/s1_login_check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s1_next_signup</servlet-name>
        <url-pattern>/s1_next_signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s1_s_signup</servlet-name>
        <url-pattern>/s1_s_signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s2_log_out</servlet-name>
        <url-pattern>/s2_log_out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s2_da_req_approve</servlet-name>
        <url-pattern>/s2_da_req_approve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s2_da_req_restore</servlet-name>
        <url-pattern>/s2_da_req_restore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s2_da_req_suspended</servlet-name>
        <url-pattern>/s2_da_req_suspended</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s2_da_notice_add</servlet-name>
        <url-pattern>/s2_da_notice_add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s2_da_grandNewFaculty</servlet-name>
        <url-pattern>/s2_da_grandNewFaculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s2_f_signup</servlet-name>
        <url-pattern>/s2_f_signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s2_f_notice_add</servlet-name>
        <url-pattern>/s2_f_notice_add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s2_da_req_delete</servlet-name>
        <url-pattern>/s2_da_req_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s2_da_notice_delete</servlet-name>
        <url-pattern>/s2_da_notice_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s2_da_canvas_add</servlet-name>
        <url-pattern>/s2_da_canvas_add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>jM1_startup.jsp</welcome-file>
    </welcome-file-list>
</web-app>
